<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="FormCaption" value="Students and Grades"/>
		<add key="ConnectionString" value="Server=.\SQLEXPRESS;Database=MusicSchool;Integrated Security=true"/>

		
		<add key="ParentTable" value="Students"/>
		<add key="ParentQuery" value="SELECT * FROM Students"/>
		<add key="ParentLabel" value="Students:"/>
		<add key="ParentKey" value="StudentID" />

		<add key="ChildTable" value="Grades"/>
		<add key="ChildQuery" value="SELECT * FROM Grades"/>
		<add key="ChildLabel" value="Grades:"/>
		<add key="ChildKey" value="StudentID" />
	
		<add key="RelationName" value="FK_Grades_Students"/>
		
		 <!--
		<add key="ParentTable" value="Students"/>
		<add key="ParentQuery" value="SELECT * FROM Students"/>
		<add key="ParentLabel" value="Students:"/>
		<add key="ParentKey" value="StudentID" />

		<add key="ChildTable" value="InstrumentRentals"/>
		<add key="ChildQuery" value="SELECT * FROM InstrumentRentals"/>
		<add key="ChildLabel" value="InstrumentRentals:"/>
		<add key="ChildKey" value="StudentID" />
-->
		<add key="RelationName" value="FK_InstrumentRentals_Students"/>
	</appSettings>
</configuration>